<form action="/employee" method="post">
    <div class="d-grid gap-2 col-6 mt-2 mx-auto">
        <label class="form-check-label" for="company">
            Select to filter
        </label>
        <div id="company">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="compSelect" value="all" id="A">
                <label class="form-check-label" for="A">
                    All
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="compSelect" value="bsa" id="BSA">
                <label class="form-check-label" for="B">
                    Bakhresa SA PTY (LTD)
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="compSelect" value="indgro" id="Indgro">
                <label class="form-check-label" for="C">
                    Indgro Multi Services Group
                </label>
            </div>
            <div class="text-center d-inline">
                <button class="btn btn-primary" name="login" value="Login" on type="submit">
                    <i class="fa-solid fa-filter"></i> Filter
                </button>
            </div>
        </div>

    </div>
</form>

<div class="col-6 gap-2 mx-auto">
    {{#filter (groupSelector compSelect)}}
    <div class="text-center d-inline"><button type="button" class="btn btn-link">{{this}}</button></div>
    {{/filter}}
</div>