<div class="d-grid gap-2 col-6 mt-2 mx-auto">
        <label class="form-check-label" for="company">
            Alpha
        </label>
        <div id="company">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="compSelect" value="a" id="A">
                <label class="form-check-label" for="A">
                    A
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="compSelect" value="b" id="B">
                <label class="form-check-label" for="B">
                    B
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="compSelect" value="c" id="C">
                <label class="form-check-label" for="C">
                    C
                </label>
            </div>
        </div>
    </div>

<ul class="">
  <li>{{filter}}</li>
 </ul>