<form action="/group" method="post">
    <div class="d-grid gap-2 col-4 mt-5 mx-auto">
        <button class="btn btn-primary btn-lg" name="group" value="employee" on type="submit">
            <i class="fa-solid fa-people-roof"></i> Employee
        </button>
        <button class="btn btn-primary btn-lg" name="group" value="visitor" on type="submit">
            <i class="fa-solid fa-person-rays"></i> Visitor
        </button>
        <button class="btn btn-primary btn-lg" name="group" value="transporter" on type="submit">
            <i class="fa-solid fa-truck-moving"></i> Transporter
        </button>
    </div>
</form>