<img src="/public/BAKHRESA_SA.png" class="img-thumbnail border-0 mx-auto mt-5 d-block" alt="">

<form action="/login" method="POST">
    <div class="col-6 mb-3 mx-auto">
        <input type="text" class="form-control text-center" id="username" value="{{username}}" placeholder="Username">
    </div>
    <div class="col-6 mb-3 mx-auto">
        <input type="password" class="form-control text-center" id="password" value="{{password}}"
            placeholder="Password">
    </div>
    <div class="text-center">
        <button class="btn btn-primary" name="login" value="Login" on type="submit">Login</button>
    </div>
</form>