<form action="/transporter" method="post">
    <div class="d-grid gap-2 col-6 mt-5 mx-auto">
        <b>Date: <span id="date"> </span></b>
        <b>Time: <span id="time"> </span></b>
        <script type="text/javascript" src="/public/time.js"></script>
    </div>
    <div class="d-grid gap-2 col-6 mt-2 mx-auto">
        <input type="text" class="form-control text-center" name="name" value="{{name}}" placeholder="Transporter Name">
        <input type="text" class="form-control text-center" name="vehicleReg" value="{{reg}}"
            placeholder="Vehicle Registration">
    </div>
    <div class="d-grid gap-2 col-6 mt-2 mx-auto">
        <label class="form-check-label" for="vehicleType">
            Purpose of entry
        </label>
        <div id="entry">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="type" value="goods" id="goods">
                <label class="form-check-label" for="goods">
                    Finished Goods
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="type" value="bran" id="bran">
                <label class="form-check-label" for="bran">
                    Bran
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="type" value="wheat" id="wheat">
                <label class="form-check-label" for="wheat">
                    Wheat
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="type" value="other" id="other">
                <div class="input-group">
                    <label class="form-check-label" for="wheat">
                        Other:
                    </label>
                    <input type="text" class="form-control form-control-sm ms-1" name="purpose" value="{{purpose}}"
                                placeholder="Specify">
                </div>
            </div>
        </div>
    </div>
    <div class="text-center mt-2">
        <button class="btn btn-primary" name="vehRegAdd" value="Add" on type="submit">Submit</button>
    </div>
</form>